[submodule "hugo-coder"]
	path = hugo-coder
	url = https://github.com/luizdepra/hugo-coder
[submodule "public"]
	path = public
	url = https://github.com/jfinmaniv/jfinmaniv.github.io
	branch = master
[submodule "themes/soho"]
	path = themes/soho
	url = https://github.com/alexandrevicenzi/soho
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
