{{ define "main" }}

  {{ if eq .Type "posts" }}
    <h2>{{ .Title }}</h2>
  {{ end }}

  <p>{{ .Content }}</p>

  {{ if eq .Type "posts" }}
    {{ if isset .Params "lastmod" }}
      <p style=" font-size: 0.9rem; color: gray; margin-top: 2rem;">
        Published: {{ .Date.Format "2 Jan 2006" }}
        <br> Last edited: {{ .Lastmod.Format "2 Jan 2006" }}
      </p>
    {{ else }}
      <p style=" font-size: 0.9rem; color: gray; margin-top: 2rem;">
        This article was published on {{ .Date.Format "January 2, 2006" }}.
      </p>
    {{ end }}
  {{ end }}

{{ end }}
